# **INTERVALOS DE CONFIANCA: AMOSTRAS REPETIDAS**

Neste estudo extraimores varias amostras e calcularemos os intervalos de confiança.

A ideia é ver se os diferentes intervalos de confiança estarão dentro do intervalo calculado para a população

In [2]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf

In [7]:
df = pd.read_excel('Arquivo 25.xlsx', skiprows=6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       30000 non-null  float64
 1   x1      30000 non-null  float64
 2   x2      30000 non-null  float64
 3   x3      30000 non-null  float64
 4   u       30000 non-null  float64
dtypes: float64(5)
memory usage: 1.1 MB

In [10]:
display(df.head())
display(df.tail())

           y        x1        x2        x3         u
0  11.425882 -2.074123  2.290155  0.681252  0.234896
1  11.793475 -2.536419  2.676716  1.317109  0.501520
2  11.633772 -1.873122  2.441400  0.416821 -0.754489
3  22.149554 -2.458791  4.636264  0.326659  0.125685
4   3.798687 -2.333300  1.901632  2.370399 -1.029945

               y        x1        x2        x3         u
29995  10.935687 -2.722244  1.387940  0.125562  1.038369
29996  13.555354 -1.083487  3.142174  0.761365  0.187264
29997  18.841756 -1.007276  4.380711  0.645020  0.246694
29998  21.073693 -1.216041  5.391590  1.070254 -0.497944
29999   5.567085 -2.578567  2.029287  1.878491 -1.493158